* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
body { 
    font: 13px 'Fira Code', Helvetica, Arial; 
}
div#input-area { 
    height: 40px; 
    background: #000; 
    padding: 3px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}
div#input-area input { 
    border: 0; 
    padding: 10px; 
    width: 90%; 
    margin-right: .5%;
    font-family: 'Fira Code', Helvetica, Arial;
}
div#input-area button { 
    width: 9%; 
    background: #00a9e0; 
    border: none; 
    padding: 10px; 
    font-family: 'Fira Code', Helvetica, Arial;
}
div#content-pane {
    height: calc(100vh - 40px);
    display: flex;
}
div#userlist {
    height: 100%;
    width: 25%;
    background: #6e6e6e;
    padding: 1rem;
}
div#userlist p.label {
    border-bottom: 2px solid;
    margin-bottom: 2px;
}
div#userlist p.label:not(:first-child) {
    margin-top: 1rem;
}
div#userlist ul {
    list-style-type: none;
}
div#userlist ul li {
    color: #00a9e0;
    text-decoration: underline;
    margin: 1px 0;
}
div#userlist ul li:hover {
    color: #ffa500;
    cursor: pointer;
}
ul#messages { 
    height: 100%;
    width: 75%;
    list-style-type: none;
    margin: 0;
    padding: 1rem 0;
    overflow: scroll;
}
ul#messages li {     
    padding: 5px 10px;
    margin: 1rem 5px 1px;
    clear: both;
    position: relative;
    float: left;
    max-width: 50%;
    background: #aeaeae;
    color: #000;
    border-radius: 15px; 
}
ul#messages li:not(.self)::before {
    content: attr(data-author);
    position: absolute;
    font-size: 9px;
    top: -10px;
    color: #505050;
}
ul#messages li.self { 
    color: #fff; 
    background: #2fa3ff; 
    float: right; 
    margin: 1px 5px;
}